# Игнорировать папки node_modules и bin/obj
frontend/node_modules/
backend/bin/
backend/obj/

# Игнорировать файлы окружения
frontend/.env
backend/.env

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать папки для зависимостей
frontend/.pnp
frontend/.pnp.js

# Игнорировать папку для сборки фронтенда
frontend/build/

# Игнорировать папку для миграций Entity Framework (если не хотите их коммитить)
backend/Migrations/

# Игнорировать пользовательские настройки IDE
.vscode/
.idea/

# Игнорировать файлы пакетов
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать файлы для локальной разработки
backend/appsettings.Development.json