# Игнорировать папки bin и obj
bin/
obj/

# Игнорировать файлы окружения
.env
appsettings.Development.json

# Игнорировать папку для миграций (если не хотите их коммитить)
Migrations/

# Игнорировать пользовательские настройки IDE
.vscode/
.idea/

# Игнорировать временные файлы
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать логи
*.log